<icc-date-range-picker
  (selectedDateRangeChanged)="updateRange($event)"
  [options]="options"
  #pickerOne>
</icc-date-range-picker>

<icc-date-picker
  (selectedDateChanged)="updateDate($event)"
  [options]="dateoptions">
</icc-date-picker>

<div><br></div>
<icc-form-field labelWidth="120px">
  <icc-label>Text Field Label</icc-label>
  <input type="text" id="fname" name="fname" [ngStyle]="{'width': '100%'}">
</icc-form-field>

<h1>This is a form</h1>



<input type="text" >

<!--
      <icc-label>Text Field Label</icc-label>
    <i iccPrefix class="fas fa-edit" style="color:green"></i>
  <i class="fas fa-times" style="color:orange" iccSuffix></i>
type="text" id="fname" name="fname"

[ngStyle]="{'width': '120px'}"
flex: 0 0 150px;
<div> Test
    <mat-form-field>
      <input value="text8888">
      <i  matPrefix class="fas fa-edit" style="color:green"></i>
      <i class="fas fa-times" style="color:orange" matSuffix ></i>

    </mat-form-field>
  </div>
  -->