<icc-panel class="app-panel-container">
  <icc-panel-content class="app-content-container" resizeable="true">
    <div middle class="app-content-middle">
      <router-outlet></router-outlet>
    </div>
    <div start class="app-content-start">
      <div><a routerLink="panel-example" routerLinkActive="active">Panel Demo2</a></div>
    </div>
    <div class="app-content-end" end>Left Container</div>
  </icc-panel-content>
</icc-panel>

<!--
      <div class="app-table-side-panel" IccResizeRight iccResize direction="right" elementKey="right"
        (iccResizeEvent)="onResizePanel($event)">
      </div>
<app-example>
  <app-some-other-component>blablabla</app-some-other-component>
  <app-some-other-component>hello world</app-some-other-component>
  <app-some-other-component>testing</app-some-other-component>
</app-example>
<app-some-other-component>no underline!</app-some-other-component>

<ng-template #templateToAppend>
	<hr  style="color: red"/>
</ng-template>

<icc-panel>
  <icc-panel-content class="app-table-container">
    <div class="app-table-side-menu">
      <div><a routerLink="panel-example" routerLinkActive="active">Panel Demo2</a></div>

      <div class="app-table-side-panel" IccResizeRight iccResize direction="right" elementKey="right"
        (iccResizeEvent)="onResizePanel($event)">
      </div>
    </div>
    <div class="app-table-panel">
      <router-outlet></router-outlet>
    </div>
  </icc-panel-content>
</icc-panel>
-->