<div class="app-theme theme-light">
  <div class="app-container">
    <icc-demo-header-nav
      (sideMenuNavIconClickEvent)="onSideMenuNavIconClick($event)">
    </icc-demo-header-nav>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</div>

<!--

<div class="app-container icc-light-theme">
  <div class="app-container-header">Test Theme</div>
  <icc-demo-header-nav
    (sideMenuNavIconClickEvent)="onSideMenuNavIconClick($event)">
  </icc-demo-header-nav>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>

-->