.app-content-container {
  flex-direction: row;
  overflow: hidden;
  .app-content-start {
    flex: 0 0 200px;
  }
  .app-content-middle {
    width: 200px; // need this for table make sure initial width is correct
    flex: 1 1 auto;
  }
  .app-content-end {
    flex: 0 0 200px;
  }
}

@mixin table-component-theme() {
  .app-panel-container {
    background-color: icc-theme(icc-background-color);
    color: icc-theme(icc-text-color);
  }
}

