<icc-panel>
  <icc-panel-content class="app-table-container" resizeable="true">
    <div start class="app-table-side-menu">
      <div><a routerLink="cdk-table-demo" routerLinkActive="active">Cdk Table Demo</a></div>
      <div><a routerLink="icc-tree-example" routerLinkActive="active">Tree Demo</a></div>
      <div><a routerLink="panel-example" routerLinkActive="active">Panel Demo</a></div>
    </div>
    <div end class="app-table-panel">
      <router-outlet></router-outlet>
    </div>
  </icc-panel-content>
</icc-panel>
