.app-table-container {
  flex-direction: row !important;
  overflow: hidden;
  .app-table-side-menu {
    flex: 0 0 200px;
  }
  .app-table-panel {
    width: 200px; // need this make sure initial width is correct
    flex: 1 1 auto;
  }
}

@mixin table-component-theme() {
  .app-table-container {
    background-color: icc-theme(icc-background-color);
    color: icc-theme(icc-text-color);
  }
}

