/* You can add global styles to this file, and also import other style files */
@import '../../../dist/icc/theming';

/* // Set box-sizing globally to handle padding and border widths */
*,
*:after, *:before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

/* // Default body styles */
body {
	letter-spacing: .01em;
}

.myPanelClass{
  margin-top: 30px !important;
}
