
@import '~@angular/material/theming';
@include mat-core();

@mixin my-theme-colors($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  color: mat-color($foreground, base); // or 'lighter-contrast' or 'darker-contrast'
  background-color: mat-color($background, background);
}

.light-theme {
  $primary: mat-palette($mat-indigo);
  $accent:  mat-palette($mat-pink, A200, A100, A400);
  $warn:    mat-palette($mat-red);
  $theme:   mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);
  @include my-theme-colors($theme);
}

.dark-theme {
  $primary: mat-palette($mat-blue-grey);
  $accent:  mat-palette($mat-amber, A200, A100, A400);
  $warn:    mat-palette($mat-deep-orange);
  $theme:   mat-dark-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);
  @include my-theme-colors($theme);
}

