.icc-overlay {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    background: white;
    border-radius: 2px;
}

.icc-overlay-backdrop {
    background-color: rgba(0,0,0,.2);
    opacity: 0.2;
}

.icc-date-range-calendar-container {
    display: flex;
    justify-content: space-around;
    min-width: 750px;
    height: 400px;
}

.icc-date-range-calendar-item {
    flex-basis: 40%;
    min-width: 300px;
    padding: 1em;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.icc-date-range-calendar-presets {
  flex-basis: 20%;
  min-width: 150px;
  padding: 1em;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.icc-date-picker-calendar-container {
  display: flex;
  justify-content: space-around;
  min-width: 500px;
  height: 400px;
}

.icc-date-calendar-presets {
  flex-basis: 20%;
  min-width: 200px;
  padding: 1em;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.icc-date-range-menu {
    height: 100%;
}
.icc-date-range-controls {
    display: flex;
    justify-content: space-around;
    margin: 10% auto;
}

.icc-date-range-presets-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.icc-date-range-presets-list li {
    margin: 5px 0 5px 0;
    padding: 4%;
    cursor: pointer;
    background: #fafafa;
    color: #3f51b5;
    user-select: none;
}

.icc-date-range-presets-list li:hover {
    background: #3f51b5;
    color: #fff;
}

.icc-date-range-date-label {
    background: #fafafa;
    margin: 15px;
    padding: 4px 2px 4px 2px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}

.icc-date-range-selected-date-label {
    color: rgba(0,0,0,.38);
    padding-left: 5%;
}

.icc-date-range-date-display {
    min-width: 230px;
}

.icc-date-range-date-input {
    text-overflow: ellipsis;
    color: royalblue;
}

.icc-date-range-calendar {
    background-image: url('data:image/svg+xml,<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">    <path d="M9 11H7v2h2v-2zm4 0h-2v2h2v-2zm4 0h-2v2h2v-2zm2-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z"/>    <path d="M0 0h24v24H0z" fill="none"/></svg>');
    width: 24px;
    height: 24px;
}

.mat-calendar-body-cell-content.mat-calendar-body-selected{
  background-color: orange !important;
  color: black !important;
}

.icc-date-range-dates {
  background: lightgray;
  border-radius: 100%;
}

.icc-date-range-selected-date {
  background-color: orange !important;
  border-radius: 100%;
}
