.sidenav-container {
  flex: 1;
  .main-container {
    padding: 5px;
  }
  // min-height: 600px;
  height: calc(100vh - 90px);
}

.sidenav{
  padding: 5px;
  width: 250px;
}

.content {
  padding:5px;
}

.mat-sidenav {
  height: -webkit-fill-available;
}

:host ::ng-deep .mat-drawer-content {
  overflow: hidden;
}
