@mixin school-side-component-theme() {
  .sidenav-container {
    flex: 1;
    .main-container {
      padding: 5px;
    }
    height: calc(100vh - 50px);

  }

  .sidenav{
    padding: 5px;
    width: 250px;
    a {
      text-decoration: none;
      color:icc-theme(icc-text-color);
    }

    .mat-list-base .mat-list-item {
      height: 30px;
    }
  }

  .content {
    padding:5px;
  }

  .mat-sidenav {
    height: -webkit-fill-available;
  }

  :host ::ng-deep .mat-drawer-content {
    overflow: hidden;
  }
}
