:host ::ng-deep icc-tree {
  display: flex;
  flex-direction: column;
  height: 100%;
}

:host ::ng-deep icc-flat-tree, ::ng-deep icc-nested-tree {
  flex: 1;
}

/*
.app-tree-container {
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
  position: relative;
  height: calc(100vh - 20px);
}
*/

.app-tree-container {
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
  position: relative;
  height: calc(50vh - 20px);
}


