
.dashboard-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  .dashboard-side-menu {
    width: 200px;
    border: 1px solid blue;
  }
  .dashboard-main-panel {
    width: 100%;
    border: 1px solid blue;
  }
}
.dashboard-footer {
  height: 32px;
  text-align: center;
}

/*

<header class="header">Header</header>
<main class="main">Main</main>
<aside class="sidebar">Sidebar</aside>
<footer class="footer">Footer</footer>


*/
@mixin dashboard-component-theme() {
  .dashboard-container, .dashboard-footer {
    background-color: icc-theme(icc-background-color);
    color: icc-theme(icc-text-color);
  }
}

/*
  .dashboard-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    .dashboard-side-menu {
      width: 200px;
      border: 1px solid blue;
    }
    .dashboard-main-panel {
      width: 100%;
      border: 1px solid blue;
    }
  }
  .dashboard-footer {
    height: 32px;
    text-align: center;
  }


*/