<icc-panel>
  <icc-panel-content class="dashboard-container" resizeable="true">
    <div start class="dashboard-side-menu">
      <div><a routerLink="dashboard-demo1" routerLinkActive="active">Dashboard Demo 1</a></div>
    </div>
    <div middle class="dashboard-main-panel">
      <router-outlet></router-outlet>
    </div>
    <div class="app-right-container" end>Left Container</div>
  </icc-panel-content>

  <icc-panel-footer class="dashboard-footer">
    Footer
  </icc-panel-footer>
</icc-panel>

<!--

-->