
<icc-panel class="panel-demo">
  <icc-panel-header>Panel Header</icc-panel-header>
  Panel Extra
  <icc-panel-content class="panel-demo-container">
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
    <div>Panel Content </div>
  </icc-panel-content>
  <icc-panel-footer>Panel Footer</icc-panel-footer>
</icc-panel>

<!--
  height="300px" width="600px"  [resizeable]="true"  layout="fit"
-->