<div class="app-table-container">
  <icc-table
    [tableConfigs]="{
      'enableMultiColumnSort': true,
      'enableColumnResize': true,
      'enableColumnFilter': true,
      'enableColumnDnD': true,
      'enableColumnHide': true,
      'enableTableSideMenu': true,
      'enableTableViewSummary': true,
      'enableColumnSticky': true,
      'enableRowSelection': true,
      'enableMultiRowSelection': true,
      'enableRowGroup': true,
      'enableMultiRowGroup': true
    }"
    [columnConfigs]="columnConfigs">
  </icc-table>
</div>
